extends layout

block content
  h1= title
  form(id='JacketForm', action="/resource/jackets", method="POST")
    div.form-group
      label.costumeAttr(for='costume_type') Jacket type&nbsp;
      input#costume_type(type='text', name='costume_type')
    div.form-group
      label.costumeAttr(for='size') Jacket size&nbsp;
      input#size(type='text', name='size')
    div.form-group
      label.costumeAttr(for='cost') Jacket cost&nbsp;
      input#cost(type='number', name='cost')
    input(type="submit")
  script.
    document.forms['JacketForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Jacket added successfully")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
